<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}INSERT LLM{% endblock %}</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/base.css">
  {% block link %}{% endblock %}
</head>
<body>
  <div class="container">
    <header class="header">
      <h1 class="title">LLM 관리 패널</h1>
      <nav class="navigation">
        <a href="/home">홈</a>
        <a href="/extract">URL 데이터 추출</a>
        <a href="/train">모델 학습</a>
        <a href="/compare">모델 비교</a>
      </nav>
    </header>

    <main class="main">
      {% block content %}{% endblock %}
    </main>

    <!-- <footer class="footer">
      <p style="text-align: center;">© 2025 LLM Admin</p>
    </footer> -->
  </div>

  <script src="/static/js/base.js"></script>
  {% block script %}{% endblock %}
</body>
</html>